body {
	background: black;
	font-family: 'Neucha', cursive;
}

#earth {
	position: absolute;
	width: 300px;
	top: 300px;
	left: 600px;
}

#new {
	position: absolute;
	width: 200px;
	top: 375px;
	left: 950px;
	cursor: pointer;
}

#waxingcrescent {
	position: absolute;
	width: 200px;
	top: 160px;
	left: 835px;
	cursor: pointer;
}

#firstquarter {
	position: absolute;
	width: 250px;
	top: 70px;
	left: 635px;
	cursor: pointer;
}

#waxinggibbous {
	position: absolute;
	width: 185px;
	top: 175px;
	left: 450px;
	cursor: pointer;
}

#full {
	position: absolute;
	width: 200px;
	top: 365px;
	left: 320px;
	cursor: pointer;
}

#waninggibbous {
	position: absolute;
	width: 185px;
	top: 590px;
	left: 445px;
	cursor: pointer;
}

#lastquarter {
	position: absolute;
	width: 250px;
	top: 690px;
	left: 635px;
	cursor: pointer;
}

#waningcrescent {
	position: absolute;
	width: 200px;
	top: 590px;
	left: 835px;
	cursor: pointer;
}

.button {
	cursor: pointer;
	background-color: white;
	padding: 16px;
	border-radius: 0px;
	width: 100px;
	height: 50px;
	width: 100%;
}

.button:hover {
	text-decoration: underline;
}